@import 'reset';

html {
	font-family: 'GHEA Grapalat';
	font-size: 10px;

	@media screen and (max-width: 599px) {
		font-size: 8px;
	}

	@media screen and (max-width: 335px) {
		font-size: 7px;
	}
}

body {
	background-color: #21354b;

	.wrapper {
		padding: 3% 24.6% 3% 4.5%;
		@media screen and (max-width: 1279px) {
			padding-right: 9%;
			padding-left: 9%;
		}

		main {
			@media screen and (min-width: 600px) and (max-width: 959px) {
				flex-direction: column;
				align-items: center;
			}

			@media screen and (max-width: 599px) {
				flex-direction: column;
				align-items: center;
			}

			color: #eeebe6;
			display: flex;
			justify-content: space-between;

			.aside {
				@media screen and (max-width: 959px) {
					display: flex;
					align-items: baseline;
					justify-content: space-between;
					width: 100%;
				}

				img {
					@media screen and (max-width: 599px) {
						width: 150px;
					}

					@media screen and (max-width: 500px) {
						display: none;
					}
				}

				&__title {
					font-family: 'GHEA Mariam';
					font-size: 6.6rem;
					text-transform: uppercase;
					max-width: 380px;
					line-height: 110%;
					letter-spacing: 0.03em;
					margin-bottom: 5.4rem;
					white-space: nowrap;
				}

				&__text {
					max-width: 200px;
					font-size: 1.4rem;
					line-height: 150%;
					margin: 0 0 9.3rem 0.4rem;
					letter-spacing: 0.05em;
					text-transform: uppercase;

					@media screen and (max-width: 500px) {
						margin: 0 0 9.3% 0;
					}
				}
			}

			.callback-form {
				@media screen and (max-width: 959px) {
					padding-top: 0;
					width: auto;
				}

				padding-top: 246px;
				width: 538px;

				&__field {
					position: relative;
					border-bottom: 2px solid #adadad;
					margin-bottom: 50px;

					input {
						color: #fff;
						width: 100%;
						padding: 0 5px;
						height: 4rem;
						font-size: 1.6rem;
						border: none;
						background: none;
						outline: none;

						&:focus ~ label,
						&:valid ~ label {
							top: -5px;
							color: #2691d9;
						}

						&:focus ~ span::before,
						&:valid ~ span::before {
							width: 100%;
						}
					}

					label {
						text-transform: uppercase;
						position: absolute;
						top: 25%;
						left: 0;
						color: #adadad;
						transform: translateY(-50%);
						font-size: 1.4rem;
						line-height: 150%;
						pointer-events: none;
						transition: 0.5s;
						letter-spacing: 0.05em;
					}

					span::before {
						content: '';
						position: absolute;
						top: 4rem;
						left: 0;
						width: 0%;
						height: 2px;
						background: #2691d9;
						transition: 0.5s;
					}

					&:nth-child(4) {
						margin-bottom: 13.5rem;

						@media screen and (max-width: 1279px) {
							margin-bottom: 50px;
						}
					}
				}

				&__range {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 86px;
					margin-bottom: 9px;

					label {
						text-transform: uppercase;
						position: absolute;
						top: 14%;
						left: 0;
						color: #adadad;
						transform: translateY(-50%);
						font-size: 1.4rem;
						line-height: 150%;
						pointer-events: none;
						transition: 0.5s;
					}

					.value {
						position: absolute;
						font-size: 0.9rem;
						line-height: 150%;
						letter-spacing: 0.05em;
						text-transform: uppercase;
						color: #eeebe6;
					}
					.value.left {
						bottom: 23px;
						left: 3px;
					}
					.value.right {
						bottom: 23px;
						right: 2px;
					}

					.slider {
						appearance: none;
						width: 100%;
						height: 1px;
						border-radius: 5px;
						background: linear-gradient(to right, #ff69b4, #ff69b4 50%, #5baaf9 50%);
						outline: none;
						transition: opacity 0.2s;

						&::-webkit-slider-thumb {
							-webkit-appearance: none;
							appearance: none;
							width: 13px;
							height: 13px;
							border-radius: 50%;
							background: #b6a16b;
							cursor: pointer;
						}
					}
				}

				&__footer {
					display: flex;
					align-items: center;
					gap: 7.2rem;

					input[type='submit'] {
						cursor: pointer;
						color: #eeebe6;
						background-color: transparent;
						outline: none;
						border: 1px solid #eeebe6;
						border-radius: 100px;
						padding: 2rem 6rem;
						text-transform: uppercase;
						font-size: 1.2rem;
					}

					div {
						font-size: 1.3rem;
						text-transform: uppercase;
						max-width: 205px;
						line-height: 150%;
						letter-spacing: 0.05em;
					}
				}
			}
		}
	}

	.footer {
		display: flex;
		justify-content: space-between;
		max-width: 476px;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 100%;
		padding-top: 11.4%;

		&__copyrights {
			text-transform: uppercase;
			color: #ff69b4;
			font-size: 1.2rem;
			line-height: 150%;
			letter-spacing: 0.05em;
		}

		&__privacy {
			text-transform: uppercase;
			color: #eeebe6;
			font-size: 1.2rem;
			line-height: 150%;
			letter-spacing: 0.05em;
		}
	}
}
