@font-face {
  font-family: "GHEA Grapalat";
  src: url("GHEAGrapalat.woff") format("woff"), url("GHEAGrapalat.ttf") format("truetype"),
    url("GHEAGrapalat.svg#GHEAGrapalat") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GHEA Mariam";
  src: url("GHEAMariam.woff") format("woff"), url("GHEAMariam.ttf") format("truetype"),
    url("GHEAMariam.svg#GHEAMariam") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
